includes:
    - ./vendor/nunomaduro/larastan/extension.neon
    - ./vendor/phpstan/phpstan-phpunit/extension.neon
    - ./vendor/phpstan/phpstan-webmozart-assert/extension.neon

parameters:
  paths:
    - app
    - tests
  level: 8
  ignoreErrors:
       - '#Parameter \#1 \$callback of method Illuminate\\Support\\Collection.*\.#'
  checkGenericClassInNonGenericObjectType: false
  parallel:
          processTimeout: 70.0
